html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

main {
  margin-top: 2rem;
  width: 72rem;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
    padding-left: 2rem;
  padding-right: 2rem;
}

ul {
  padding-left: 0rem;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
    --primary-color: aquamarine;
    --secondary-color: #222;
}

h2 {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
