
.content {
  display: grid;
  width: 100%;
  gap: 5rem;
}

.filters {
  width: max-content;
  max-width: 200px;
}
.game-list {
  display: inline-grid;
  grid-template-columns: repeat(1,1fr);
  grid-template-rows: repeat(auto-fit, 1fr);
  gap: 1rem;
  /* flex-wrap: wrap; */
   /* width: min-content; */
  /* grid-template-columns: repeat(auto-fit, minmax(0, 1fr)); */
  /* justify-content: space-between;
  align-items: stretch; */
  height: 0;
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* min-width: 500px; */
  list-style: none;
  background-color:  var(--primary-color);;
  color: var(--secondary-color);
  padding: 1rem;
  border-radius: 10px;
}

.game__header {
display: grid;
gap: 0.5rem;
grid-template-columns: 1fr auto;
}

.game__body {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input {
  padding: 0.5rem 1rem;
}

.label {
  max-width: 100%;
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;;
  /* grid-template-columns: auto 1fr; */
  align-items: center;
  gap: 0.25rem;
  width: max-content;
}

.tag-filter-list {
  width: max-content;
  gap: 0.5rem;
}

.tag-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
  height: max-content;
}

.tag {
  padding: 0.5rem 0.25rem;
  border-radius: 5px;;
  background-color: #222;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  min-width: 80px;
  text-align: center;
}

@media (min-width: 768px) {
  .content {
    grid-template-columns: auto 1fr;
  }
}

@media (min-width: 1024px) {
  .game-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

.packs-filters, .tag-filters {
  margin-top:1.5rem;
}

.checkbox-label {
  margin-top: 0.25rem;
  margin-bottom: 0rem;
  padding-top: 0rem;
  padding-bottom: 0rem;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.25rem;
  width: max-content;
}